.powrot {
    margin-left: 295px;
}
.dodaj {
    margin-left: 20px;
}
.button {
    margin-top: 12px;
}
.option1 {
    background: red;
}
.option2 {
    background: blue;
}
.option3 {
    background: green;
}